@model BusinessManagementSystemApp.Core.ViewModels.AsthaShop.TransectionDataViewModel
@{
    ViewBag.Title = "NewData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border"><h4 class="box-title">Data Transection Form</h4></div>
            <div class="box-body">
                <div class="col-md-8 col-sm-8 col-xs-8">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(model => model.DataTypeId, "DataType", htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(c => c.DataTypeId, null, "", htmlAttributes: new { @class = "form-control " })
                            @Html.ValidationMessageFor(model => model.DataTypeId, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(c => c.Id)
                            <input id="btnSubmit" type="button" value="Submit" class="btn btn-primary" />
                        </div>

                        @*<div class="form-group">
                                <label class="control-label" style="color: @ViewBag.Color">@ViewBag.Message</label>
                            </div>*@
                    }

                </div>

                <div class="col-md-4 col-sm-4 col-xs-4">
                    @* <a class="btn btn-info btn-sm pull-right" href="@Url.Action("AircraftList", "Aircrafts")"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back To List</a>*@
                </div>

                @* *********************************************************************** *@


            </div>
        </div>


        <div class="box box-info">
            <div class="box-header"><h5 class="box-title">History</h5></div>
            <div class="box-body">
                <table id="history" class="table table-bordered table-hover display">
                    <thead>
                        <tr>
                            <th>Data Type</th>
                            <th>Value</th>                 
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section ViewSpecificJavascript
{
    <script src="~/Scripts/dataTransectionForm.js"></script>
}
